*.log
*.pid

storage/logs/
app.log
etc/config.yaml
etc/docker_config.yaml

ssl/

.env
!.env.example

main
gin-biz-web-api
server

__pycache__/
*.pyc

vendor/
go.sum

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo

node_modules/
